<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleTypeName</key>
	<string>Text</string>
	<key>CFBundleVersion

Fuente: https://www.iteramos.com/pregunta/32862/itms-9000-el-binario-que-ha-cargado-no-es-valido

Fuente: https://www.iteramos.com/pregunta/32862/itms-9000-el-binario-que-ha-cargado-no-es-valido

Fuente: https://www.iteramos.com/pregunta/32862/itms-9000-el-binario-que-ha-cargado-no-es-valido</key>
	<string>1.1.15</string>
	<key>LSHandlerRank</key>
	<string>Alternate</string>
	<key>LSItemContentTypes</key>
	<array>
		<string>public.plain-text</string>
		<string></string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeFerry</string>
		<string>MKDirectionsModeOther</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModePlane</string>
		<string>MKDirectionsModeRideShare</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
		<string>MKDirectionsModeTrain</string>
	</array>
	<key>MKDirectionsRequest</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INAddTasksIntent</string>
		<string>INStartAudioCallIntent</string>
		<string>INStartCallIntent</string>
		<string>IntentIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
</dict>
</plist>
